.tab-head
  ul
    list-style: none
    display: flex
    li
      padding-left: 1rem
      &:first-of-type
        padding-left: 0
      &.active
        border-bottom: 1px solid blue
.tab-area
  .active
    display: block